<%- include("partials/header") -%>
</div>
</div>
</nav>
<div class="citruscleaner">
    <h1 class="topic">Citrus Cleaner</h1>
    <img class="citruscleaner-img" src="/images/citruscleaner.jpg">
    <h3 class="par">Hey, it's a good citrus cleaner.</h3>
    <h3 class="par">That's really all I have to say.</h3>
    <h2 class="par">Will I exist outside of these paragraphs? Is life just a hologram? Have I been kidnapped? Am I dead?</h2>
</div>
<%- include("partials/footer") -%>