<%- include("partials/header") -%>
</div>
</div>
</nav>
<div class="drypeels">
    <h1 class="topic">Dry Peels</h1>
    <img class="drypeels-img" src="/images/drypeels.jpg">
    <h3 class="par">We have the most exquisite dried orange peels.</h3>
    <h3 class="par">For those who thought the juice choked you, why not choke even more on our horrible-tasting dry peels?</h3>
    <p class="par">*It is required that you sign a waiver before you buy our dried peels so you can't sue us if you die choking on them.</p>
</div>
<%- include("partials/footer") -%>