<%- include("partials/header") -%>
</div>
</div>
</nav>
<div class="freshfruit">
    <h1 class="topic">Fresh Fruit</h1>
    <img class="orangepeels-img" src="/images/freshoranges.jpg">
    <h3 class="par">Oranges are healthy and delicious. Unless they come from us.</h3>
    <h3 class="par">I'm just going to say it at this point. Our stuff is horrible. But I'm being paid to say it's good. If I want to keep my job, I guess I should say good things about it.</h3>
    <h3 class="par">I didn't get into Orange to lie, though. I'll go into GlazeBook or something. I love donuts.</h3>
</div>
<%- include("partials/footer") -%>