<%- include("partials/header") -%>

</div>
</div>
</nav>
<form class="d-flex" role="search" method="post" autocomplete="off">
  <input class="form-control me-2 search-input" type="search" placeholder="Search" aria-label="Search" name="userInput">
  <button class="btn btn-outline-success search-button" type="submit">Search</button>
</form>
<%- include("partials/juice") -%>
<%- include("partials/footer") -%>