<div class="juice">
    <a href="/biteme" class="a-topic"><h1 class="topic">Juice</h1></a>
    <a href="http://vedanthsuresh.github.io/vedanthpedia"><img src="/images/juice.jpeg" class="juice-img"></a>
    <h3 class="par">Not your regular juice.</h3>
    <h3 class="par">Freshly squeezed. Also, it tastes like wallpaper.</h3>
    <p class="par">*Wallpaper not included (hopefully)</p>
</div> 